@font-face {
    font-family: MainFont;
    src: url('../Pavelt.ttf');
}

@font-face {
    font-family: SecondaryFont;
    src: url('../hack.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: MainFont;
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('../img/mehdi.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    padding: 32px;
}

main {
    overflow: hidden;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-container {
    display: flex;
}

a.nav-element {

    text-decoration: none;
    color: #fff;
    transition: transform 0.2s;
    
}
a.nav-element:hover {

    transform: scale(1.3);

}

.nav-element.selected {

    border-bottom: 2px solid #fff;

}

img.nav-logo {
    margin-right: 16px;
}

.nav-logo {

    justify-self: flex-start;
    margin-right: auto;
}

.nav-logo a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: 50% 50%;
}

.main-section {

    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

@keyframes wavy {
    0% { animation-timing-function: linear; }
    25% { 
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    75% { 
        transform: translateY(8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: linear;
    }
}

.main-section .title {

    font-weight: bold;
    filter: drop-shadow(5px 5px 16px rgb(255, 255, 255, 0.4));
    transition: transform 2s;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.title .title-letter {
    animation: wavy 1.8s infinite;
    animation-delay: 0s;
}

.title-letter:nth-child(1) { animation-delay: 0.15s; }
.title-letter:nth-child(2) { animation-delay: 0.3s; }
.title-letter:nth-child(3) { animation-delay: 0.45s; }
.title-letter:nth-child(4) { animation-delay: 0.6s; }
.title-letter:nth-child(5) { animation-delay: 0.75s; }
.title-letter:nth-child(6) { animation-delay: 0.9s; }
.title-letter:nth-child(7) { animation-delay: 1.05s; }
.title-letter:nth-child(8) { animation-delay: 1.2s; }


.main-section .title-description {
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: opacity 2s;
}

.main-section .title-description.visible {
    opacity: 100%;
    margin-top: 20px;
}

p {
    font-size: 20px;
    font-family: SecondaryFont, sans-serif, monospace;
}

.card {

    position: absolute;
    background-color: aqua;
    -webkit-box-shadow: 2px 5px 29px 5px rgba(0, 0, 0, 0.42);
    box-shadow: 2px 5px 29px 5px rgba(0, 0, 0, 0.42);
    transition: transform 1s, filter 1s, z-index 1s;

    border-radius: 16px;
    background-size: cover;
    background-position: top center;

}

.card#card0 { background-image: url("../img/dualipa.jpg");}
.card#card1 { background-image: url("../img/marshmellow.png");}
.card#card2 { background-image: url("../img/michael.webp");}
.card#card3 { background-image: url("../img/shakira.jpg");}
.card#card4 { background-image: url("../img/angele.jpg");}


footer {
    height: 150px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}

.secondary-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-section .move-button {

    border: none;
    padding: 0;
    overflow: visible;
    outline: none;
    cursor: pointer;
    width: max(5vw, 50px);
    height: max(5vw, 50px);
    background-image: url("../img/arrow.png");
    background-size: cover;
    transition: all 0.4s;
    opacity: 80%;
    align-self: flex-end;
    margin-bottom: 72px;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 200;
}

.secondary-section .move-button.left {
    transform: scaleX(-1);
}

.play-button {
    border: 1px solid #000; /* Adding a border for visibility */
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 1.4vh;
    border-radius: 12px;
    transition: all 0.5s;
    opacity: 0.7;
    position: relative;
    font-size: 1.6vh;
    margin-top: 2vh;
    background: rgb(177,73,181);
    background: -moz-linear-gradient(137deg, rgba(177,73,181,1) 0%, rgba(246,39,163,1) 100%);
    background: -webkit-linear-gradient(137deg, rgba(177,73,181,1) 0%, rgba(246,39,163,1) 100%);
    background: linear-gradient(137deg, rgba(177,73,181,1) 0%, rgba(246,39,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b149b5",endColorstr="#f627a3",GradientType=1);
    animation: playButton 5s ease;
}

@keyframes playButton {
    0% {
        opacity: 0;
        transform: scale(5%);
    }
    66% {
        opacity: 0;
        transform: scale(5%);
    }
    100% {
        opacity: 0.7;
    }
}

.play-button:hover {
    opacity: 1;
}

@media screen and (max-aspect-ratio: 1/1) {
    main {
        display: grid;
        width: 100%;
        height: 80%;
        grid-template-columns: none;
        grid-template-rows: 35% 65%;
    }
    nav {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .main-section .title {
        font-size: 4vh;
    }

    .nav-container {
        margin-top: 24px;
    }

    .nav-element {
        font-size: 1.2vh;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }

    .main-section .title-description {
        font-size: 1.2vh;
    }

    img.nav-logo {
        height: 3vh;
    }

    .nav-logo {
        font-size: 3vh;
    }

    .card {
        height: 25vh;
        border-radius: 2.5vw;
        aspect-ratio: 1/2;
    }

}

@media screen and (min-aspect-ratio: 1/1) {


    .main-section .title {
        font-size: 4vw;
    }

    .nav-element {
        font-size: 1.8vh;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .main-section .title-description {
        font-size: 1.2vw;
    }

    img.nav-logo {
        height: 3vw;
    }

    .nav-logo {
        font-size: 2vw;
    }

    .card {
        height: 30vh;
        border-radius: 1vw;
        aspect-ratio: 4/7;
    }

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center-elements {
    justify-content: center;
    align-items: center;
}